################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClaseString/ClaseString
/ClaseString/.vs
/HolaMundo/HolaMundo
/HolaMundo/.vs
/ClaseString/ClaseString.sln
/IfAnidados/IfAnidados
/IfAnidados/.vs
/OperadoreesAritmeticos/OperadoreesAritmeticos
/OperadoreesAritmeticos/.vs
/OperadoresLogicos/OperadoresLogicos
/OperadoresLogicos/.vs
/OperadoresLogicosDos/OperadoresLogicosDos
/OperadoresLogicosDos/.vs
/OperadoresLogicos/OperadoresLogicos.sln
/PiedraPapelTijeras/PiedraPapelTijeras
/PiedraPapelTijeras/.vs
/SegundaApp/SegundaApp
/SegundaApp/.vs
/Terminologias/Terminologias
/Terminologias/.vs
/TipoDeDatos/TipoDeDatos
/TipoDeDatos/.vs
/UsoIf/UsoIf
/UsoIf/.vs
/Switch/Switch/obj/Debug/net6.0
/Switch/.vs/Switch/v17
/ProjectArray/ProjectArray
/ProjectArray/.vs/ProjectArray/v17
/Switch/.vs
/ProjectArray/.vs
/Duplas/Duplas
/Duplas/.vs/Duplas
